/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .utg-guide {
    position: fixed;
    top: 50%;
    left: 0px;
}

.utg-tour-start{
    background: #faa332;
    border-style: solid;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 0;
    color: #ffffff;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1em;
}
